<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Welcome to the Home Page!</h1>
    <p>You are logged in.</p>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    <a href="/list-users" class="btn btn-primary mt-3">Users</a>
    <a href="/companies" class="btn btn-secondary mt-3">Company</a>
    <a href="/nhanviens" class="btn btn-info mt-3">NhanVien</a>
</div>
</body>
</html>
